
}
.cap-logo-right {
  height: 250px;
}
.right-side-content {
  width: 100%;
  margin: 0 10px;
}
.result-container {
  width: 100%;
  border: solid 4px black;
  border-radius: 15px;
  font-family: sans-serif;
  margin: 10px 0;
  color: #fff;
  background-color: #ABA7A7;
}
.right-side-title {
  border-bottom: solid 4px black;
  border-radius: 15px;
  margin: 0;
  padding: 5px 15px;
  font-weight: bold;
  background-color: #8B8888;
}
.right-side-result span {
  padding: 10px;
  font-weight: bold;
  font-size: 30px;
}
.right-side-interpretation {
  padding: 10px;
}
.maint-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 30px 0 30px;
}
.right-side-reference {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}
.main-content-title {
  font-family: sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin: 20px 0 20px 0;
}
.main-content-title span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-content-info {
  height: 70vh;
  border: solid 4px black;
  border-radius: 10px;
  background-color: #EAEAEA;
}
.main-content-about {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5% 20%;
}
.main-content-about-capcheck span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: bold;
}
.main-content-about-capcheck p {
  font-weight: bold;
  background-color: #EAEAEA;
  padding: 20px;
  border: solid 4px black;
  border-radius: 10px;
}
.main-content-mission-capcheck span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: bold;
}
.main-content-mission-capcheck p {
  font-weight: bold;
  background-color: #EAEAEA;
  padding: 20px;
  border: solid 4px black;
  border-radius: 10px;
}
.main-content-features-capcheck span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: bold;
}
.main-content-features-capcheck p {
  font-weight: bold;
  background-color: #EAEAEA;
  padding: 20px;
  border: solid 4px black;
  border-radius: 10px;
}
.developers {
  text-align: center;
}
.developers-title {
  font-family: sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin: 20px 0 20px 0;
}
.big-3 {
  margin: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.big-3 img {
  height: 200px;
  margin: 0 20px;
}
.big-3 h1 {
  margin: 0;
  font-size: 20px;
}
.big-3 h2 {
  margin: 0;
  font-size: 15px;
}
.two-big {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.two-big img {
  height: 200px;
  margin: 0 20px;
}
.two-big h1 {
  margin: 0;
  font-size: 20px;
}
.two-big h2 {
  margin: 0;
  font-size: 15px;
}